@use './partials/_global.scss' as *;
@use './partials/_fonts.scss' as *;
@use './partials/_colors.scss' as *;
@use './partials/mixins.scss' as *;
@use './partials/variables.scss' as *;


.hero {
    width: 100vw;
    height:60vw;
    background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.5),  rgba(50, 50, 50, 0.5)), url(../../assets/images/hero-bio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
    &__title {
        color: $white;
        margin:0;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
           padding-left: 2.25rem; 
        }

        @include desktop {
            padding-left: 3.9375rem;
        }
    }
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    &__title {
        color: $black;
        padding-left: 1rem;
        margin-bottom: .5rem;
        margin-top: 1.5rem;

        @include tablet {
            padding-left: 2.25rem;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }

        @include desktop {
            padding-left: 3.9375rem;
            margin-bottom: 2rem;
            margin-top: 4rem;
        }
    }

    &__image {
        @include tablet {
            padding: 1rem 6rem 1rem 6rem;
        }

        @include desktop {
            padding: 1.5rem 10rem 1.5rem 10rem;
        }
    }

    &__quote {
        padding-left: 1rem;
        padding-right: 1rem;
        color: $black;

        @include tablet {
            padding-left: 6rem;
            padding-right: 6rem;
        }

        @include desktop {
            padding-left: 10rem;
            padding-right: 26.5rem;
        }
    }

    &__quote-credit {
        padding-top: .5rem;
        color: $black;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: 600;
            padding-top: 1rem;
        }    
    }

    &__paragraph-start {
        margin-bottom: -.185rem;
        color: $darkblack;
       
        @include tablet {
            font-size:1.5rem;
            line-height: 2rem;
            font-weight: 600;
            padding-left: 6rem;
        }

        @include desktop {
            padding-left: 10rem;
        }
    }

    &__paragraph-block {
        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 1rem 6rem 1rem 6rem;
        }    
    }

    &__paragraphs {
        color: $black;

        @include tablet {
            padding-left: 0rem;
        }

        @include desktop {
            padding-left: 4rem;
        }
    }
}    


.photo-gallery {
    background-color: $alabaster;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: .5rem;
    padding-bottom: .5rem;
   
    &__title {
        color: $black;
        padding-left: 1rem;
        margin-bottom: .5rem;

        @include tablet {
            padding-left: 2.25rem;
        }

        @include desktop {
            padding-left: 3.9375rem;
        }
    }

    &__grid {
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 2.25rem;
            width: 100%;
        }

        @include desktop {
            padding-left: 3.9375rem;
            padding-right: 1.6875rem;
            padding-bottom: 1rem;
        }
    }

    &__photo {
        @include tablet {
            width: 33%;
            padding: 1.125rem 2.25rem 1.125rem 0;
        }
    }
}

.conversation {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-right: 1rem;

    @include tablet {
        padding-right: 6rem;
    }

    @include desktop {
        padding-right: 21rem;
    }
    
    &__title {
        color: $black;
        padding-left: 1rem;

        @include tablet {
            padding-left: 2.25rem;
            padding-top: 2rem;
        }

        @include desktop {
            padding-left: 3.9375rem;
        }
    
    }

    &__container {
        padding-left: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        @include tablet {
            padding-left: 6rem;
        }
        
        @include desktop {
            padding-left: 21rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 1rem;
    }

    &__profile-pic {
        width: 2.25rem;
        height: 2.25rem;
        padding: 0;
        border-radius: 50%;
        margin-top: 1.5rem;

        @include tablet {
            width: 3rem;
            height: 3rem;
        }
    }

    &__label {
        font-family: AvenirNext;
        color: $mercury;
        font-weight: 400;
        padding-bottom: .5rem;
    }

    &__input {
        font-family: AvenirNext;
        background-color: $alabaster;
        border-color: $mercury;
        color: $black;
        border-radius: 0.25rem;
        width: 100%;
        height: 2.25rem;
        border: 1px solid $mercury;
        margin-bottom: 1rem;

        @include tablet {
            height: 3rem;
        } 
    }

    &__input-error {
        font-family: AvenirNext;
        background-color: $alabaster;
        border-color: red;
        color: $black;
        border-radius: 0.25rem;
        width: 100%;
        height: 2.25rem;
        border: 1px solid $mercury;
        margin-bottom: 1rem;

        @include tablet {
            height: 3rem;
        } 
    }

    &__text-area {
        height: 7rem;

        @include tablet {
            height: 10rem;
        }
    }

    &__text-area-error {
        height: 7rem;
        border-color:red;

        @include tablet {
            height: 10rem;
        }
    }
}

.button {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border-style: none;
    color: $white;
    background-color: $black;
    font-family: AvenirNext;
    font-size:16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: .5rem;

    @include tablet {
        width: 23%;
    }

    &__container {
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
    }
    
}

.button:hover {
    background-color: $darkblack;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-left: 1rem;
    border-bottom: 1px solid $mercury;
    margin-bottom: 1rem;
    padding-left: 0;

    @include tablet {
       margin: 0 0 2rem 6rem;
    }

    @include desktop {
        margin-left: 21rem;
        margin-bottom: 3rem;
    }
    

    &__post {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        border-top: 1px solid $mercury;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__picture {
        width: 2.555rem;
        height: 2.25rem;
        background-color: $mercury;
        border-radius: 50%;
    }

    &__profile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        margin-left: 1rem;
    }

    &__user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: .75rem;
        width: 100%;
        
    }

    &__name {
        font-weight: 600;
        color: $black;
        padding: 0;
        margin: 0;
    }

    &__date {
        color: $mercury;
        padding: 0;
        margin: 0;
    }

    &__copy {
        color: $black;
        margin: 0;
        padding:0;
        text-align: left;
    }
}

input:focus {
    outline: none;
    border-color: $black;
}

textarea:focus {
    outline: none;
    border-color: $black;
}